[user]
    email = alex_nortung@live.dk
    name = Alexander Nortung
[alias]
    st = status
    co = checkout
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    hale = pull
    puff = push
    hent = fetch
    skyd = branch
    forgren = branch
    fastlag = commit
    flet = merge
    gem = stash
    klandre = blame
    marker = tag
    klon = clone
    tilfoj = add
[pull]
	rebase = false
